.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.body{
    width: 100%;
    min-height: 100vh;
    padding-top:60px ;
}

.header{
    width:100%;
    height: 60px;
    background-color: white;
    position: fixed;
    top:0px;
    z-index: 20;
}

.content{
    width:100%;
    min-height:calc(100vh - 60px);
    position: relative;
}

.sidenavbar{
    width:300px;
    height:calc(100vh - 60px);
    position: sticky;
    top:56px;
    background-color: #478CCF;
    z-index: 10;
    overflow-y:scroll;
}

.middleContent{
    min-height:calc(100vh - 60px) ;
    width: calc(100% - 300px);
    background-color: aliceblue;
    z-index: 10;
}

@media screen and (width < 992px){
    .middleContent{
        width: 100%;
    } 
}

.outletStyle{
    position: relative;
    width:100%;
    min-height: calc(100vh - 60px);
    overflow-y: scroll;
}


