
 
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .profile-card .text img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 0;
  }
  
  .profile-card .text h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  
  .profile-card .text .role {
    color: #23b6db;
    font-size: 1rem;
    margin-bottom: 0;
  }
  
  .profile-card .text .description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  
  .profile-card .links {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  
  .profile-card .links i {
    font-size: 1.5rem;
    color: #23b6db;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .profile-card .links i:hover {
    color: #1d9dbd;
  }
  